<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ repoPath }}</title>
    <base href="/{{ repoPath }}/" />
    <link rel="icon" href="data:," />
    <style>
      table {
        font-family: monospace;
        border-collapse: collapse;
        width: 100%;
      }
      h1,
      h2,
      h3 {
        font-family: monospace;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      td:last-child,
      th:last-child {
        text-align: right;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2>Zen Linux Package Repository</h2>
    <h3>{{ repoPath }}</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>ETag</th>
        <th>Date</th>
        <th>Size</th>
      </tr>
      {{#each files}}
      <tr>
        <td><a href="{{ this.name }}">{{ this.name }}</a></td>
        <td>{{ this.etag }}</td>
        <td>{{ this.date }}</td>
        <td>{{ this.size }}</td>
      </tr>
      {{/each}}
    </table>
  </body>
</html>
